<h1>Merci d'avoir acheté un objet chez DonneArgent !</h1>

<p>
    Vous avez acheté à l'utilisateur {{ vendeur }} l'objet <strong>{{ title }}</strong> pour <strong>{{ price }}€</strong>.
</p>

<p>N'hésitez pas à le contacter via son adresse mail pour convenir d'une date et d'un lieu de livraison pour recevoir votre article !</p>
