<h1>Merci d'avoir vendu un objet chez DonneArgent !</h1>

<p>
    Vous avez vendu à l'utilisateur {{ acheteur }} l'objet <strong>{{ title }}</strong> pour <strong>{{ price }}€</strong>.
</p>

<p>N'hésitez pas à le contacter via son adresse mail pour convenir d'une date et d'un lieu de livraison pour livrer votre article !</p>
