<h1>Bonjour
	{{ email.toName }}!</h1>

<p>
	Félicitations ! Vous remporté l'enchère :
</p>
<p>
	<code>{{ bid.id }}</code>
</p>

{# <p>
	<a href="{{ link }}">Cliquez ici pour valider votre compte</a>
</p> #}

