<h1>Bonjour
	{{ email.toName }}!</h1>

<p>
	Nous vous confirmons que vous êtes bien le meilleur enchérisseur pour cette enchère :
</p>
<p>
	<code>{{ bid.title }}</code>
</p>

{# <p>
	<a href="{{ link }}">Cliquez ici pour valider votre compte</a>
</p> #}
