<h1>Bonjour
	{{ email.toName }}!</h1>

<p>
Vous n'êtes plus le meilleur enchérisseur pour cette enchère :

</p>
<p>
	<code>{{ email.to[0].address }}</code>
</p>

{# <p>
	<a href="{{ link }}">Cliquez ici pour valider votre compte</a>
</p> #}

