<h1>Bienvenue chez DonneArgent {{ email.toName }}!</h1>

<p>
    Vous vous êtes inscrit sur DonneArgent avec l'adresse email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ link }}">Cliquez ici pour valider votre compte</a>
</p>
